.ClusterButton button {
    font-size:1.2em;
    border: none;
    border-radius: 0.5em;
    padding: 0.5em 1.7em;
    margin: 0 0.93em 0 0;
    cursor: pointer;
    transition: all 0.2s ease;
}

.SendNotification {
    font-size:0.8em;
    border: none;
    border-radius: 0.5em;
    padding: 0.9em 0.9em;
    margin: 0 3em;
    cursor: pointer;
    transition: all 0.2s ease;
    background-color: #0046F3FF;
    color: white;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);
}

.EmailEdition button{
    font-size:0.8em;
    border: none;
    border-radius: 0.5em;
    padding: 0.9em 0;
    cursor: pointer;
    transition: all 0.2s ease;
    background-color: #0046F3FF;
    color: white;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);
}

.Comment button{
    font-size:0.8em;
    border: none;
    border-radius: 0.5em;
    padding: 0.9em 3em;
    cursor: pointer;
    transition: all 0.2s ease;
    background-color: #0046F3FF;
    color: white;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);
}


.ClusterButton button:hover, .SendNotification:hover,
.EmailEdition button:hover, .Comment button:hover {
    color: white;
    background-color: #F20285;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);
    transform: scale(1.02);

}

.ClusterButton button.color1 {
    background-color: #0046F3FF;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);
}


@media (max-width: 600px) {

    .ClusterButton button {
        padding: 0.5em 1.7em;
        margin: 0 1.2em 0 0;
    }

    .SendNotification {
        margin: 0 1em;
    }

    .Comment button{
        padding: 0.9em 1em;

    }
}