.ClusterButton button, .SendNotification {
    font-size:1.2em;
    border: none;
    border-radius: 0.5em;
    padding: 0.5em 1.7em;
    margin: 0 0.93em 0 0;
    cursor: pointer;
    transition: all 0.2s ease;
}

.SendNotification {
    background-color: #0046F3FF;
    color: white;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);
}

.ClusterButton button:hover, .SendNotification:hover {
    color: white;
    background-color: #F20285;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);
    transform: scale(1.02);

}

.ClusterButton button.color1 {
    background-color: #0046F3FF;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);
}