.BackHome button {
    font-size: 1.3em;
    color: #0046F3FF;
    background-color: #f9FBFE;
    border: none;
    padding: 0.5em 0.5em;
    cursor: pointer;
    transition: all 0.2s ease;
}

.BackHome button:hover {
    color: #db6ca9;
    transform: scale(1.02);

}

@media (max-width: 600px) {
    .BackHome button {
        font-size: 0.8em;
        padding: 0.5em 0.2em;
    }

}