.Select, .Result, .SendEmail {
    display: grid;
    width: 100%;
    padding: 50px 50px 20px 50px;
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(5, 1fr);
    background-color: #f9FBFE;
    color: black;
}

.Select {
    height: 100vh;
}

.SelectTable, .Overall, .ClusterButton,
.ClusterInsight, .RecommendedProduct,
.Assignment, .ClusterOverall, .ProductOverall,
.EmailEdition {
    margin-top: 2em;
    padding: 2em;
    border-radius: 0.8em;
    background-color: white;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.07);
}

.ClusterButton {
    margin-top: 2em;
    padding: 1em;
    border-radius: 0.8em;
    background-color: white;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.07);
}

@media (max-width: 600px) {
    .Select, .Result, .SendEmail {
        padding: 1em 1em 0.8em 1em;
    }

    .SelectTable, .Overall, .ClusterButton,
    .ClusterInsight, .RecommendedProduct,
    .Assignment, .ClusterOverall, .ProductOverall,
    .EmailEdition, .EmailForm {
        margin-top: 1em;
        padding: 1em;
    }

    .SelectTable, .Overall, .ClusterButton,
    .ClusterInsight, .RecommendedProduct,
    .Assignment, .ClusterOverall, .ProductOverall,
    .EmailEdition, .EmailForm h1 {
        font-size: 50%;
    }
}