.SelectTable, .Overall, .ClusterButton,
.ClusterInsight, .RecommendedProduct, .Assignment {
    margin-top: 2em;
    padding: 2em;
    border-radius: 0.8em;
    background-color: white;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.07);
}

.ClusterButton {
    margin-top: 2em;
    padding: 1em;
    border-radius: 0.8em;
    background-color: white;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.07);
}
