.Copyright p {
  color: white;
  font-size: 0.8em;
  text-align: center;
}

.Home .Copyright p {
  margin-bottom: 1em;
}

.Select .Copyright p,
.Result .Copyright p,
.SendEmail .Copyright p {
  color: black;
  margin-top: 20px;
}