.Intro {
    display: grid;
    padding: 2px;
    margin: 0 0 0 2em;
    grid-template-rows: auto auto;
    row-gap: 8px;
}

.Title {
    grid-row: 1;
    font-size: 3em;
}

.Content {
    grid-row: 2;
    text-align: justify;
    font-size: 1em;
}

@media (max-width: 600px) {
    .Intro {
        padding: 0;
        margin: 0.5em 0 0 1em;
        row-gap: 0.5em;
    }

    .Title {
        font-size: 1.3em;
    }

    .Content {
        font-size: 0.5em;
        margin-right: 3em;
    }
}
