.SelectTable, .AssignmentTable {
    overflow: hidden;
    box-sizing: border-box;
    width: 100%; /* make sure container fills width */
}

.AssignmentTable {
    margin-top: 2em;
}

.TableHeader, .TableBody table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    table-layout: fixed; /* forces equal-width columns */
}

.TableHeader th {
    width: calc(100% / 9); /* each column takes equal space */
    text-align: center;
    padding: 0.5em 0;
    background-color: #f2f2f2;
    border: 0;
    margin: 0.2em 0;
    box-sizing: border-box;
}

.RowBlock {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    align-items: center;
    width: 100%;
    padding: 0.9em 0.5em;
    margin: 0.2em 0;
    border-radius: 2em;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 0.85em;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.RowBlock span {
    text-align: center;
    overflow: hidden;
}

.RowBlock.color1 {
    background-color: #0046F3FF;
    color: #ffffff;
    box-shadow: 1px 1px 3px rgba(0, 70, 243, 0.5);
}

.RowBlock.color2 {
    font-weight: 400;
    color: black;
}

.RowBlock.color2:hover {
    background-color: #f9FBFE;
    color: #0046F3FF;
    font-size: 0.859em;
}

.TableBody {
    max-height: 400px;
    overflow-y: auto;
    padding-bottom: 1em;
}

.TableBody tr {
    height: auto;
}



