.SelectTable, .AssignmentTable {
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
}

.AssignmentTable, .ProductTable {
    margin-top: 2em;
}

.TableHeader {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    text-align: center;
    padding: 0.5em 0.7em;
    background-color: #f2f2f2;
    border: 0;
    margin: 0.2em 0;
    box-sizing: border-box;
    font-weight: 550;
    font-size: 0.95em;
}

.ProductTable .TableHeader {
    grid-template-columns: repeat(8, 1fr);
}

.TableBody table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    table-layout: fixed;
}

.RowBlock {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
    height: 2.5em;
    width: 100%;
    padding: 0.9em 0.5em;
    margin: 0.5em 0;
    border-radius: 2em;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 0.75em;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.ProductTable .RowBlock {
    grid-template-columns: repeat(8, 1fr);
    padding: 0 0.7em;
}

.RowBlock span {
    text-align: center;
    overflow: hidden;
}

.RowBlock.color1 {
    background-color: #0046F3FF;
    color: #ffffff;
    box-shadow: 1px 1px 3px rgba(0, 70, 243, 0.5);
}

.RowBlock.color2 {
    font-weight: 400;
    color: black;
}

.RowBlock.color2:hover {
    background-color: #f9FBFE;
    color: #0046F3FF;
    font-size: 0.77em;
}

.TableBody {
    max-height: 400px;
    overflow-y: auto;
    padding-bottom: 1em;
}

.TableBody tr {
    height: auto;
}

@media (max-width: 600px) {

    .col-occupation,
    .col-loan,
    .col-city{
        display: none;
    }

    .TableHeader {
        grid-template-columns: repeat(7, 1fr);
        align-items: center;
        font-weight: 500;
        font-size: 0.8em;
    }

    .RowBlock {
        grid-template-columns: repeat(7, 1fr);
    }

    .SelectTable .RowBlock {
        height: 2em;
    }

    .ProductTable .RowBlock {
        height: 4.5em;
    }

    .AssignmentTable .RowBlock {
        height: 2em;
    }

    .ProductTable .col-productName {
        display: none;
    }

    .ProductTable .TableHeader {
        grid-template-columns: repeat(7, 1fr);
    }

    .ProductTable .RowBlock {
        grid-template-columns: repeat(7, 1fr);
    }
}

/*@media (max-width: 400px) {*/
/*    .SelectTable {*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        height: calc(100vh - 150px);*/
/*        overflow: hidden;*/
/*    }*/

/*    .TableBody {*/
/*        flex: 1;*/
/*        overflow-y: auto;*/
/*        max-height: none;*/
/*        padding-bottom: 0;*/
/*    }*/
/*}*/



