.ClusterInsight table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}

.ClusterInsight th,
.ClusterInsight td {
    text-align: left;
    border-right: 2px solid #ccc;
}

.ClusterInsight th {
    padding-left: 1em;
    font-size: 0.8em;
}

.ClusterInsight td {
    padding-left: 0.5em;
    font-size: 1.6em;
    font-weight: bold;
}

.ClusterInsight th:last-child,
.ClusterInsight td:last-child {
    border-right: none;
}

