.ClusterInsight table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}

.ClusterInsight th,
.ClusterInsight td {
    text-align: left;
    border-right: 2px solid #ccc;
}

.ClusterInsight th {
    padding-left: 1em;
    font-size: 0.8em;
}

.ClusterInsight td {
    padding-left: 0.5em;
    font-size: 1.6em;
    font-weight: bold;
}

.ClusterInsight th:last-child,
.ClusterInsight td:last-child {
    border-right: none;
}

@media (max-width: 600px) {

    .col-occupation, .col-city {
        display: none;
    }

    .ClusterInsight table {
        height: 6em;
    }

    .ClusterInsight th,
    .ClusterInsight td {
        border-right: 1px solid #ccc;
    }

    .ClusterInsight th {
        font-size: 0.5em;
        padding-left: 0.5em;
    }

    .ClusterInsight td {
        font-size: 1.3em;
        font-weight: 500;
        padding-right: 0.5em;
    }

    .ClusterInsight th:last-child,
    .ClusterInsight td:last-child {
        padding-right: 0;
        border-right: none;
    }

    .ClusterInsight th.last-visible,
    .ClusterInsight td.last-visible {
        padding-right: 0;
        border-right: none;
    }
}

