.Overall {
    display: grid;
    width: 100%;
    padding: 50px;
    gap: 2em;
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(3, 1fr);
}

.Overall .h1{
    grid-row: 1;
    grid-column: 1;
}

.Overall h3 {
    padding-left: 1em;
}

.RechartsWrapper svg:focus {
    outline: none;
}

.Pie svg *:focus, .Pie svg:focus, .ScatterPlot svg:focus , .Radar svg:focus  {
    outline: none;
}

.Pie, .ScatterPlot, .Radar {
    width: 100%;
    height: 350px;
    padding: 1em;
    border-radius: 0.8em;
    background-color: #F5F5F5;
}

.Pie {
    grid-row: 2;
    grid-column: 1;
}

.ScatterPlot {
    grid-row: 2;
    grid-column: 2;
}

.Radar {
    grid-row: 2;
    grid-column: 3;
}

@media (max-width: 600px) {
    .Overall {
        padding: 2em;
        gap: 2em;
        grid-template-columns: repeat(1, 1fr);
    }

    .Pie {
        grid-row: 2;
        grid-column: 1 / 2;
    }

    .ScatterPlot {
        grid-row: 3;
        grid-column: 1 / 2;
    }

    .Radar {
        grid-row: 4;
        grid-column: 1 / 2;
    }

    .Pie, .ScatterPlot, .Radar {
        width: 100%;
        height: 35em;
        padding: 1em;
    }
}