.Intro {
    grid-row: 1;
    grid-column: 1 / 4;
}

.Manage {
    grid-row: 1;
    grid-column: 5;
}

.Overall {
    grid-row: 2;
    grid-column: 1 / 6;
}

.ClusterButton {
    grid-row: 3;
    grid-column: 1 / 3;
}

.ClusterInsight {
    grid-row: 4;
    grid-column: 1 / 6;
}

.RecommendedProduct {
    grid-row: 5;
    grid-column: 1 / 6;
}

.Assignment {
    grid-row: 7;
    grid-column: 1 / 6;
}

.Copyright {
    grid-row: 8;
    grid-column: 3;
}

@media (max-width: 600px) {
    .Intro {
        grid-column: 1 / 5;
    }

    .ClusterButton {
        grid-row: 3;
        grid-column: 1 / 5;
    }

    .Copyright {
        grid-column: 1 / 6;
    }
}

@media (max-width: 400px) {
    .ClusterButton {
        grid-row: 3;
        grid-column: 1 / 6;
    }
}