.Result {
    display: grid;
    height: 100vh;  /* viewport height */
    width: 100%;
    padding: 50px;
    grid-template-rows: auto 1fr; /* header (SelectIntro + Manage) + table */
    grid-template-columns: repeat(5, 1fr);
    background-color: #f9FBFE;
    color: black;
}
