.Loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* full viewport height */
    background-color: #F5F5F5;
}

.Loading h1 {
    color: #0046F3FF;
}
