.RunClustering button {
    font-size:1.2em;
    color: white;
    background-color: #BABABA;
    border: none;
    border-radius: 0.5em;
    padding: 0.5em 1.7em;
    cursor: pointer;
    transition: all 0.2s ease;
}

.RunClustering button:hover {
    color: white;
    background-color: #db6ca9;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);
    transform: scale(1.02);

}