/* SelectIntro.css */
.SelectIntro {
    display: grid;
    padding: 2px;
    margin: 0 0 0 2em;
    grid-template-rows: auto auto; /* two rows: title + content */
    row-gap: 8px; /* optional spacing between title and paragraph */
}

.IntroTitle {
    grid-row: 1;
    font-size: 3em;
}

.IntroContent {
    grid-row: 2;
    text-align: justify;
    font-size: 1em;
}
