.Intro {
    grid-row: 1;
    grid-column: 1 / 4;
}

.Manage {
    grid-row: 1;
    grid-column: 5;
}

.SelectTable {
    grid-row: 2;
    grid-column: 1 / 6;
}

.Copyright {
    grid-row:3;
    grid-column: 3;
}