.TableWrapper {
    grid-row: 2;
    grid-column: 1 / 6;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 2em 0;
    padding: 20px;      /* spacing inside white background */
    box-sizing: border-box;
    overflow-y: auto;   /* scroll only the table body */
    box-shadow: 0 4px 12px rgba(0, 0, 0.8, 0.07);  /* x-offset, y-offset, blur, color */
}


.TableWrapper table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.TableWrapper th, .TableWrapper td {
    text-align: center;
    vertical-align: middle;
    padding: 0.5em 1em;
}

.Table th {
    position: sticky;
    top: 0;
    background-color: #F2F2F2;
    z-index: 10;
}

.Table td, .Table th {
    text-align: center;
    vertical-align: middle;
    padding: 0.5em 1em;
}

/* Scrollable body */
.TableBodyWrapper {
    overflow-y: auto;
    flex: 1;                /* take remaining height */
}

.TableBodyWrapper tr:hover {
    background-color: #f9FBFE;
    color: #0046F3FF;
}





