.selectedClusterData {
    margin-top: 2em;
}

.ClusterOverall table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}

.ClusterOverall th,
.ClusterOverall td {
    text-align: left;
    border-right: 2px solid #ccc;
}

.ClusterOverall th {
    padding-left: 1em;
    font-size: 0.8em;
}

.ClusterOverall td {
    padding-left: 0.5em;
    font-size: 1.6em;
    font-weight: bold;
}

.ClusterOverall th:last-child,
.ClusterOverall td:last-child {
    border-right: none;
}

@media (max-width: 600px) {

    .col-occupation, .col-city {
        display: none;
    }

    .ClusterOverall table {
        height: 6em;
    }

    .ClusterOverall th,
    .ClusterOverall td {
        border-right: 1px solid #ccc;
    }

    .ClusterOverall th {
        font-size: 0.5em;
    }

    .ClusterOverall td {
        font-size: 1.3em;
        font-weight: 500;
        padding-right: 0.5em;
    }

    .ClusterOverall td:last-child {
        padding-right: 0;
    }

    .ClusterOverall th.last-visible,
    .ClusterOverall td.last-visible {
        border-right: none;
    }
}

@media (max-width: 400px) {

    .col-occupation, .col-city {
        display: none;
    }

}