.EmailForm {
    display: grid;
    margin-top: 2em;
    grid-template-columns: repeat(14, 1fr);
    row-gap: 2em;
    column-gap: 2em;
}

.EmailForm label {
    grid-column: 2;
    align-self: center;
    text-align: right;
}

.EmailForm input, .EmailForm textarea {
    grid-column: 3/14;
    width: 100%;
    border-radius: 0.8em;
    padding: 1em;
    background-color: white;
    border: 1px solid #F5F5F5;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.07);
    outline: none;
}

.EmailStatus {
    font-size: 0.8em;
    grid-column: 7/12;
    text-align: right;
    align-self: center;
    color: #F20285;
}

.EmailForm button {
    grid-column: 12/14;
}

.EmailForm textarea#message {
    height: 20em;
    resize: vertical;
    max-height: 50em;
    min-height: 3.5em;
}

.EmailForm input:focus {
    outline: 0.08em solid #0046F3;
}

.EmailForm textarea:focus {
    outline: 0.08em solid #0046F3;
}

@media (max-width: 600px) {
    .EmailForm {
        margin-top: 1em;
        row-gap: 1em;
        column-gap: 1em;
    }

    .EmailForm input, .EmailForm textarea {
        padding: 0.6em;
    }

    .EmailForm input::placeholder,
    .EmailForm textarea::placeholder {
        font-size: 0.7em;
    }

    .EmailForm button {
        grid-column: 10/14;
    }

    .EmailStatus {
        grid-column: 2/10;
    }
}

