.selectedProduct {
    margin-top: 2em;
}

.ProductOverall table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}

.ProductOverall th,
.ProductOverall td {
    text-align: left;
    border-right: 2px solid #ccc;
}

.ProductOverall th {
    padding-left: 1em;
    font-size: 0.8em;
}

.ProductOverall td {
    padding-left: 0.5em;
    font-size: 1.6em;
    font-weight: bold;
}

.ProductOverall th:last-child,
.ProductOverall td:last-child {
    border-right: none;
}

@media (max-width: 600px) {

    .col-productName, .col-minIncome {
        display: none;
    }

    .ProductOverall table {
        height: 6em;
    }

    .ProductOverall th,
    .ProductOverall td {
        border-right: 1px solid #ccc;
    }

    .ProductOverall th {
        font-size: 0.5em;
    }

    .ProductOverall td {
        font-size: 1.3em;
        font-weight: 500;
        padding-right: 0.5em;
    }

    .ProductOverall td:last-child {
        padding-right: 0;
    }

    .ProductOverall th.last-visible,
    .ProductOverall td.last-visible {
        border-right: none;
    }
}

@media (max-width: 400px) {

    .ProductOverall th {
        padding-left: 1.2em;
    }

    .ProductOverall td {
        font-size: 1.1em;
    }

}
