.SendEmail {
    display: grid;
    min-height: 100vh;
    width: 100%;
    padding: 50px;
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(5, 1fr);
    background-color: #f9FBFE;
    color: black;
}

.ClusterOverall {
    grid-row: 2;
    grid-column: 1 / 6;
}

.ProductOverall {
    grid-row: 3;
    grid-column: 1 / 6;
}

.EmailEdition {
    grid-row: 4;
    grid-column: 1 / 6;
}
