
.Home {
  display: grid;
  height: 100vh;
  width: 100vw;
  background-image: url('../assets/Background.png');
  background-size: cover;
  background-position: center;

  grid-template-rows: repeat(20, 1fr);
  justify-items: center;
  align-items: center; 
}

.Home .Title {
  grid-row: 10; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home .Button {
  grid-row: 13; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home .Intro {
  grid-row: 16; 
  display: flex;
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: center; 
}

.Home .Copyright {
  grid-row: 20; 
  display: flex;
  flex-direction: column;   
  justify-content: flex-start; 
  align-items: center;       
}
