.Home {
  display: grid;
  height: 100vh;
  width: 100vw;
  background-image: url('../assets/Background.png');
  background-size: cover;
  background-position: center;

  grid-template-rows: repeat(20, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.Home .HomeTitle {
  grid-row: 10;
  grid-column: 1 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home .StartButton {
  grid-row: 13;
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home .HomeIntro {
  grid-row: 16;
  grid-column: 2;
  display: flex;
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: center; 
}

.Home .Copyright {
  grid-row: 20;
  grid-column: 2;
  display: flex;
  flex-direction: column;   
  justify-content: flex-start; 
  align-items: center;       
}


@media (max-width: 600px) {
  .Home .HomeTitle {
    grid-row: 8;
    grid-column: 1 / 4;
  }

  .Home .StartButton {
    grid-row: 11;
  }

  .Home .HomeIntro {
    grid-row: 14;
    grid-column: 1 / 4;
  }

  .Home .Copyright {
    grid-column: 1 / 4;
  }
}